.swg-abstract-map {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'header' 'map' 'projects';
  gap: 20px 60px;
  max-width: 1400px;

  @media screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'header header' 'projects map';
  }

  &__header {
    grid-area: header;
  }

  &__projects {
    grid-area: projects;
    position: relative;
  }

  &__project {
    padding: 10px 20px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
    margin-bottom: 20px;

    &--open {
      background-color: whitesmoke;
    }

    @media screen and (min-width: 1024px) {
      box-shadow: none;
      margin-bottom: 0;
      border-top: 1px solid black;

      &:first-child {
        border-top: none;
      }
    }

    &:hover {
      cursor: pointer;
    }

    &__title {
      display: flex;
      justify-content: space-between;

      &::after {
        content: url('../../assets/images/sg-anchor_arrow_marked.svg');
        display: block;
        width: 20px;
        height: 20px;

        .swg-abstract-map__project--open & {
          transform: rotate(90deg);
        }
      }

      @media screen and (min-width: 1024px) {
        &::after {
          content: '';
        }
      }
    }

    &__description {
      display: none;

      .swg-abstract-map__project--open & {
        display: -webkit-box;
      }

      @media screen and (min-width: 1024px) {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }

    &__link {
      display: none;
      font-size: 14px;
      line-height: 23px;
      text-align: left;
      color: black;
      text-transform: uppercase;

      &:hover {
        color: #e4032e;
      }

      .swg-abstract-map__project--open & {
        display: -webkit-box;
      }

      @media screen and (min-width: 1024px) {
        display: block;
      }
    }
  }

  &__background {
    display: none;

    @media screen and (min-width: 1024px) {
      display: block;
      background-color: whitesmoke;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      width: 100%;
      height: 184px;
      transition: transform 0.5s ease-in-out;
    }
  }

  &__map {
    grid-area: map;
    width: 400px;
    height: 300px;
    position: relative;

    @media screen and (min-width: 1024px) {
      width: 100%;
      height: unset;
    }
  }

  &__svg {
    position: absolute;
  }

  &__highlighted-image {
    position: absolute;
    opacity: 0;
    z-index: 15;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
    top: 0;
    left: 0;
    border: none;
    object-fit: cover;

    &.img1 {
      opacity: 1;
    }

    &.img2 {
      opacity: 0;
    }
  }
}

img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  position: absolute;
}
